

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-app-container {
  font-family: 'Inter', sans-serif;
  max-height: 100vh;
  align-items: center;
}

body { 
    font-family: 'Segoe UI', sans-serif; 
    max-height: 100vh;
}

.app-container {
     max-width: 600px;
     height: 96vh;  
     margin: auto;  
    }

h1 { 
    text-align: center; 
    color: #333; 
}

.header-tabs { 
    display: flex; 
    justify-content: space-around; 
    margin-bottom: 10px; 
    background: #e9ecef; 
    overflow: hidden; 
}

.tab-button { 
    flex: 1; 
    padding: 12px; 
    font-weight: bold; 
    border: none; 
    background: transparent; 
    cursor: pointer; 
}

.tab-button.active { 
    background: #007bff; 
    color: white; 
}

.card-list-container { 
    min-height: 96%; 
}

.card { 
    background: white; 
    margin: 10px 0px; 
}

.card:hover { 
    transform: translateY(-3px); 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
}
s

.loading-indicator, .initial-loading, .end-of-list, .error-message, .no-data-message {
    text-align: center;
    font-style: italic;
}

.loading-indicator { 
    color: #0315d3; 
    font-weight: bold; 
}

.error-message { 
    color: #dc3545; 
}

/* Responsive: Full width on small screens */
@media (max-width: 768px) {
    .app-container {
    max-width: 100%;
    /* padding: 10px; */
    box-shadow: none;
    }
    .app-container{
        width: 100%;
        margin: 0;
    }
    .main-app-container{
        max-height: 96vh;
    }
}